$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html {
  width: 100%;
  height: 100%;
}

h1, strong, label {
  color: #D9D9D9;
}

strong {
  word-spacing: 999999999px;
}

body {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.sequencer {
  background-color: #161715;
  height: 100%;
  padding-top: 15px;
}

.row {
  margin: 0;
  vertical-align: middle;
}

.pad {
  width: 5.71%;
  padding-top: 5.71%;
  display: inline-block;
  background: #BFBFBF;
  // box-shadow: rgba(0, 0, 0, 0.0980392) -6px 6px 0px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.09) -6px -5px 1px 1px inset;
  cursor: pointer;
  margin: 0;
}

.sub_pad_1 {
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #cd67fc 0%, #9731c2  100%);
  -webkit-border-image: -webkit-linear-gradient(top, #cd67fc 0%, #9731c2 100%);
  border-image: linear-gradient(to bottom, #cd67fc 0%, #9731c2 100%);
  border-image-slice: 1;
}

.sub_pad_2 {
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #73fc60 0%, #1eb922 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #73fc60 0%, #1eb922 100%);
  border-image: linear-gradient(to bottom, #73fc60 0%, #1eb922 100%);
  border-image-slice: 1;
}

.sub_pad_3 {
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #45b2fb 0%, #167bd9 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #45b2fb 0%, #167bd9 100%);
  border-image: linear-gradient(to bottom, #45b2fb 0%, #167bd9 100%);
  border-image-slice: 1;
}

.sub_pad_4 {
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #fc434e 0%, #de0f1c 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #fc434e 0%, #de0f1c 100%);
  border-image: linear-gradient(to bottom, #fc434e 0%, #de0f1c 100%);
  border-image-slice: 1;
}

.selected {
  // background: #00FF00;
  background: radial-gradient(#E0E0E0, #FFBB2F, #C76C00);
}

.playing {
  background: radial-gradient(#FFFFFF, #F2F2F2, #E0E0E0);
}

.playing.selected {
  background: radial-gradient(#E6FFE6, #00FF10, #16C200);
}
//
// // .noselect {
// //     -webkit-touch-callout: none;
// //     -webkit-user-select: none;
// //     -khtml-user-select: none;
// //     -moz-user-select: none;
// //     -ms-user-select: none;
// //     user-select: none;
// // }
//
#play-pause {
  margin: 10px 10px 0;
  height: 100%;
}

.play-tempo {
  margin-left: 100px;
}
.inst-wrapper {
  padding: 0;
}
.pad-wrapper {
  // background-color: #2B2B2B;
  // top: 20px;
  padding: 0;
  // margin-top: 20px;
}
//
// .control {
//   margin: 10px 0;
// }

.instrument-label {
  display: inline-block;
  vertical-align: middle;
  padding-top: 1.71%;
  line-height: 100%;
  // width: 4em;
  // height: 6em;
  // position: relative;
  // top: 1em;
  // text-align: right;
  // margin-right: 0.5em;
}
//
// .tempo-container {
//   margin: 0 10px;
// }
//
// #tempo-input {
//   margin: 0 10px;
//   line-height: 30px;
//   border-radius: 3px;
//   font-size: 25px;
//   width: 60px;
//   vertical-align: middle;
// }
//
.tempo-btn {
  margin: 0 5px;
  height: 100%;
}
//
@media (max-width: 768px) {

  .pad {
    width: 25%;
    padding: 0;
    padding-top: 25%;
    margin: -2px -4px -2px 0;
    display: inline-block;
  }
  strong {
    word-spacing: 0px;
  }
  .instrument-label {
    font-size: 23px;
    writing-mode: vertical-lr;
    padding-top: 35%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .play-tempo {
    margin-left: 0;
  }
  .tempo-btn {
    margin: 0;
  }
}
