$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html,
body {
  height: 100%;
  width: 100%;
}

h1,
strong,
label,
p {
  color: #d9d9d9;
}

.name {
  display: inline;
  float: left;
  margin-bottom: 0;
  margin-top: 0;
}

.description {
  display: inline;
  float: right;
}

.foot {
  display: block;
  text-align: center;
}

.github {
  float: right;
  font-size: 30px;
}

strong {
  word-spacing: 999999999px;
}

body {
  background-color: #000;
}

header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header p {
  margin-right: 30px;
  margin-top: 20px;
}

.nav-menu {
  display: none;
}

.sequencer {
  background-color: #161715;
  bottom: 0;
  display: block;
  margin-top: 160px;
  overflow: hidden;
  padding-right: 8px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 5.85px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #205928;
  border: 1.1px solid #18d501;
  border-radius: 1px;
  box-shadow: .9px .9px 1.7px #020, 0px 0px .9px #003c00;
  cursor: pointer;
  height: 11.3px;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  background: #00424f;
  border: 2.5px solid #83e584;
  border-radius: 12px;
  box-shadow: 2.6px 2.6px 3.7px #00aa00, 0px 0px 2.6px #00c300;
  height: 23px;
  width: 23px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.95px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #205928;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.3px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
  background: #205928;
  border-radius: 1px;
  border: 1.1px solid #18d501;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 2.6px 2.6px 3.7px #00aa00, 0px 0px 2.6px #00c300;
  border: 2.5px solid #83e584;
  height: 23px;
  width: 23px;
  border-radius: 12px;
  background: #00424f;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 11.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #205928;
  border: 1.1px solid #18d501;
  border-radius: 2px;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
}

input[type=range]::-ms-fill-upper {
  background: #205928;
  border: 1.1px solid #18d501;
  border-radius: 2px;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
}

input[type=range]::-ms-thumb {
  box-shadow: 2.6px 2.6px 3.7px #00aa00, 0px 0px 2.6px #00c300;
  border: 2.5px solid #83e584;
  height: 23px;
  width: 23px;
  border-radius: 12px;
  background: #00424f;
  cursor: pointer;
  height: 11.3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #205928;
}
input[type=range]:focus::-ms-fill-upper {
  background: #205928;
}

.row {
  margin: 0;
  overflow: hidden;
  vertical-align: middle;
}

.title {
  margin: 10px 0;
}

.tempo-container {
  height: 100%;
  margin-top: 1px;
  padding-left: 5px;
}

.tempo-btn-wrapper {
  display: inline-block;
}

.pad {
  background: #bfbfbf;
  box-shadow: rgba(0, 0, 0, 0.09) -6px -5px 1px 1px inset;
  cursor: pointer;
  display: inline-block;
  margin: .6%;
  padding-top: 3.02%;
  width: 3.71%;
}

.sub_pad_1 {
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #cd67fc 0%, #9731c2  100%);
  -webkit-border-image: -webkit-linear-gradient(top, #cd67fc 0%, #9731c2 100%);
  border-image: linear-gradient(to bottom, #cd67fc 0%, #9731c2 100%);
  border-image-slice: 1;
}

.sub_pad_2 {
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #73fc60 0%, #1eb922 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #73fc60 0%, #1eb922 100%);
  border-image: linear-gradient(to bottom, #73fc60 0%, #1eb922 100%);
  border-image-slice: 1;
}

.sub_pad_3 {
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #45b2fb 0%, #167bd9 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #45b2fb 0%, #167bd9 100%);
  border-image: linear-gradient(to bottom, #45b2fb 0%, #167bd9 100%);
  border-image-slice: 1;
}

.sub_pad_4 {
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #fc434e 0%, #de0f1c 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #fc434e 0%, #de0f1c 100%);
  border-image: linear-gradient(to bottom, #fc434e 0%, #de0f1c 100%);
  border-image-slice: 1;
}

.selected {
  background: radial-gradient(#E0E0E0, #FFBB2F, #C76C00);
}

.playing {
  background: radial-gradient(#FFFFFF, #F2F2F2, #E0E0E0);
}

.playing.selected {
  background: radial-gradient(#18D501, #18D501, #003c00);
}002200

#play-pause {
  height: 100%;
  margin: 5px 0 0 11px;
}

.play-tempo {
  padding-left: 0;
}

.inst-wrapper {
  margin-top: 0;
  padding: 0;
}

.pad-wrapper {
  margin-bottom: -.4%;
  padding: 0;
}

.volumeSlider {
  padding-left: .6%;
}

.instrument-label {
  display: inline-block;
  line-height: 100%;
  padding-bottom: 3%;
  padding-top: 1.49%;
  vertical-align: middle;
}

.tempo-btn {
  height: 100%;
  margin: 0 3px;
}

#tempo-input {
  margin-right: 5px;
  width: 50px;
}

@media (max-width: 768px) {
  html,
  body {
    overflow: hidden;
  }

  .nav-menu {
    display: block;
  }

  h1 {
    margin-top: 5px;
  }

  header {
    height: 190px;
  }

  .description {
    clear: left;
    float: left;
    margin: 0;
  }

  .title {
    margin-bottom: 0;
    margin-top: 5px;
  }

  #play-pause {
    margin-top: 5px;
  }

  .pad-wrapper {
    margin-bottom: 10px;
  }

  .pad {
    display: inline-block;
    margin: 0 -4px -5px 0;
    padding: 0;
    padding-top: 23%;
    width: 25%;
  }

  strong {
    word-spacing: 0;
  }

  .instrument-label {
    font-size: 26px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 35%;
    writing-mode: vertical-lr;
  }

  .play-tempo {
    clear: both;
    margin-left: 0;
    padding-left: 0;
    padding-right: 20px;
  }

  .tempo-btn-wrapper {
    float: right;

  }

  .tempo-btn {
    float: left;
    margin-top: -9px;
  }

  #tempo-input {
    clear: left;
    float: left;
    width: 50px;
  }

  .tempo-container {
    float: right;
  }

  #decrease-tempo {
    margin-right: 0;
  }

  label {
    float: left;
  }

  .sequencer {
    height: 100%;
    margin-bottom: 100px;
    margin-top: 185px;
    padding-top: 15px;
    z-index: 1;
  }

  .inst-wrapper {
    margin-bottom: 150px;
  }

  .anchor {
    position: absolute;
    top: -200px;
  }

  footer {
    bottom: 10px;
    position: fixed;
    width: 100%;
  }

  .foot-content {
    float: right;
    margin-right: 35px;
  }
}
